# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
/song-request-backend/config/spotify-token.json 

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for storing Spotify tokens
/config/spotify-token.json

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editor directories and files
.idea
.vscode
*.swp
*.swo
.DS_Store 

# CRACO
/craco-report.json

